/target
/*.prt
/*.fa
/*.txt
/*.gff
/*.tbl
/*.fsa.fai
/*.fsa
/*.vcf
/*.bed
/*.fasta
/*.gz
/*.py
/*.ipynb
/*.log
/*.chain
/*.fai
/*.tbi
/.ipynb_checkpoints
/data
/results_*
/databases
/examples
.snakemake
nohup.out
